<style>
#header

div.container {
    width: 100%;
    border: 1px solid gray;
    height: 700px;
    }

header, footer {
    padding:10px ;
    color: white;
    background-color: #00284d;
    clear: left;
    text-align: center;

}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
//nav a {
    text-decoration: none;
    color: #cccccc;
    font-size: 16px;
    text-transform: uppercase;
}
nav a:hover{
    color: green;
    font-weight: bold;
}
nav ul {
    list-style-type: none;
    padding: 5px;
}
   
nav ul a {
    text-decoration: none;
}

article {
   height: 500px;
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 39px;
    overflow: hidden;
}
article p{
  font-size: 20px;
  color:#fff;
}
article h2{
	color: #fff;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

</style>